*{
    background-color: rgb(237, 232, 225);

}
.mainPage{
   
    
    
}
.Dtwocol{
    border: 2px solid rgb(15, 11, 11);
   
}
.Dname{
    border: 2px solid rgb(15, 11, 11);
}
.ProsCol{
    border: 2px solid rgb(15, 11, 11); 
}
.Done1{
    width: 100%;
    
}
